<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  
   <test name="Multi Language Test" >
	    <classes>
	         <class name="MutliLangTests.LoginTest"/>
	          <class name="MutliLangTests.CreateProject"/>
	           <class name="MutliLangTests.CreateEpic"/>	        
	    </classes>
  </test> 
  
</suite> <!-- Suite -->

